@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
